* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #c6d887;
}

header nav {
  text-align: center;
}

header nav ul {
  list-style-type: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  padding-right: 17px;

}

header nav ul li a:hover {
    color: #c110d1;
}

h1 {
    color: #3a003f;
    background-color: rgb(113, 194, 209);
    border: 5px solid rgb(19, 119, 161);
    
}

main {
    text-align: center;
}
main h1 {
  margin: 50px 10px 80px 10px;
}

main .image-container img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 5px solid #0e5c8d;
}

main .image-container img:hover {
    scale: 1.2;
}

main .description h3, 
main .description p {
  margin-bottom: 10px;
}

main .search-bar {
    margin-bottom: 10px;
}

main .search-bar input {
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #c6d887;
}

main .search-bar button:hover {
    cursor: pointer;
}

 main .search-bar button {
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #c6d887;
}
main section {
  text-align: center;
}

footer {
  padding:2px;
  border-radius:70px;
  width: 100%;
  height: 50px;
  background-color: rgb(57, 127, 160);
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

footer p {
    color: #000000;
}
